<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No projects.</p>
<% end %>


<p><%= link_to "add project", new_project_path %></p>